/* styles/FixedHeader.module.css */
.fixedHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    color:  #6D9340;
    padding: 10px;
    z-index: 1;
    text-align: right;

  }
  
  .title {
    margin: 0;
  }