/* styles/FixedHeader.module.css */
.fixedHeader {
    position:relative;
    left: 0;
    width: 100%;
    right: 0;
    background-color:#6D9340;
    color: #ffffff ;
    padding: 10px;
    z-index: 1;
    display:flex;
  }
  .icons{
    height: 30px;
    width: 30px;
  }
  
  .title {
    margin-right: 0;
    font-size:x-large;
  }
  
  .atTop {
    transform: translateY(0);
  }

  .navigation {
    display: flex;
    float:right;
    text-align: right;
    align-items:flex-end;
  }
.navItem {
   
    cursor: pointer;
    padding: 5px;
  }
  
  