/* styles/FixedHeader.module.css */
.fixedHeader {
    position:relative;
    left: 0;
    width: 100%;
    background-color:#6D9340;
    color: #ffffff ;
    padding: 10px;
    z-index: 1;
    text-align: right;
  }
  
  .title {
    margin: 0;
    font-size:x-large;
  }
  
  .atTop {
    transform: translateY(0);
  }