.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eaeaea;
  background-color: #eaeaea;
}

.nav{
  
  cursor: pointer;
  padding: 5px;
}
.logo {
  height: 3em;
  margin: 5px;
}
.across {
  display: flex;
  float:right;
  text-align: right;
  align-items: flex-end;
  flex: 1;
}


