.footer {
  width: 100%;
  
  border-top: 1px solid #eaeaea;
  display: flex;
  background-color: #eaeaea;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 3em;
  margin: 5px;
}
.across {
  display: flex;
  float:right;
  text-align: right;
  align-items: flex-end;
  flex: 1;
}


