/* styles/ScrollableHeader.module.css */
.scrollableHeader {
    position: sticky;
    background-color: #ffffff;
    color:#000000;
    font-size: large;
    padding: 10px;
    width: 100%;
    z-index: 1; 
    top: 0px;
  }
  
  .title {
    margin: 0;
  }
  .burgerIcon {
    /*display: none;  Hide the burger icon by default on larger screens */
    cursor: pointer;
    font-size: 24px;
    visibility: hidden;
  }

  .headerContent {
    position: sticky;
    display: flex;
    justify-content: space-between;
    display: flex;
  
   
  }
  
  .logo {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    width: 15%; /* Adjust the size of the logo as needed */
    float:left;
    margin-right: 50px;
    
  }
  
  .navigation {
    display: flex;
    float:right;
    text-align: center;
    align-items: flex-end;
    flex-shrink: 1;
  }
  
  .navItem {
    flex-shrink: 1;
    cursor: pointer;
    padding: 5px;
    margin-right: 0;
  }
/*phone*/


@media only screen and (max-width: 600px) {
  .navigation {
   display: none;  /* Hide the regular navigation on small screens */
    flex-direction: column; /* Stack items vertically */
    position: absolute;
    top: 60px; /* Adjust the top position based on your header height */
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .navigation.active {
    display: flex; /* Show the navigation when active */
  }

  .navItem {
    width: 100%; /* Make items take full width */
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Add a border between items */
  }

  .burgerIcon {
    display: block; /* Show the burger icon on small screens */
    cursor: pointer;
    font-size: 24px;
    color: #6D9340;;
  }
}
 