/* styles/ScrollableHeader.module.css */
.scrollableHeader {
    position: relative;
    background-color: #6D9340;
    color: #ffffff;
    padding: 10px;
    
  }
  
  .title {
    margin: 0;
  }