/* styles/ScrollableHeader.module.css */
.scrollableHeader {
    position: fixed;
    background-color: #ffffff;
    color:#000000;
    font-size: large;
    padding: 10px;
    width: 100%;
    z-index: 2; 
    transition: transform 0.5s; /* Adjust the transition property to 'transform' */
    transform: translateY(-100); /* Set the initial translateY to 0 */
    text-align: right;
  }
  
  .title {
    margin: 0;
  }
  .headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: 20%; /* Adjust the size of the logo as needed */
    float:left
  }
  
  .navigation {
    display: flex;
    float:right;
    text-align: right;
    align-items: flex-end;
  }
  
  .navItem {
    margin-right: 20px;
    cursor: pointer;
   
  }
  .visible {
    transform: translateY(100%); /* Translate the header upwards by its height */
  }