/* Global Styles */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Main Container Styles */
main {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  flex: 1;
  flex-wrap: wrap;
}

.imgs {
  flex-shrink: 2;
  height: 50%;
  width: 50%;
}

/* Full Width Containers */
.container,
.greenContainer,
.lightGreenContainer,
.contentContainer,
.overlay,
.servicesContainer,
.cardContainer,
.headerCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.greenContainer {
  background-color: #6d9340;
  color: #ffffff;
}

.lightGreenContainer {
  background-color: #eff9e3;
  color: #000000;
}

.overlay {
  padding: 5rem 0;
  color: #ffffff;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  pointer-events: none;
}

.servicesContainer {
  display: flex;
  background: url('/images/AONEpc.png') center/cover no-repeat; /* Set your image path and adjust properties as needed */
  background-color: rgba(255, 255, 255, 0.4);
  flex-wrap: wrap;
  width: 100%;
}
.cardContainer,
.headerCardContainer {
  display: flex;
  background: url('/images/AONE-STATIONERY.png') center/cover no-repeat; /* Set your image path and adjust properties as needed */
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  flex-wrap: wrap;
}

/* Media Query - Small Screens */
@media (max-width: 600px) {
  main{
    top: 30px;  
  }
  

  .contentContainer,
  .greenContainer,
  .lightGreenContainer,
  .imgs {
    flex: 1;
    width: 100%;
    padding: 5px;
    /*top: 0%;*/
    flex-direction: column;
    box-sizing: border-box;
    
  }

  .innerContainer,
  .fiftyContainer,
  .fiftyContainerBlackFont,
  .fiftyContainerBgPhoto,
  .thirtyFiveContainer,
  .fiftyGreenContainer {
    flex: 1;
    width: 250%;
    padding: 5px;
    flex-direction: column;
    margin:0;
    box-sizing: border-box;
  }

  .servicesContainer {
    width: 100%;
  }
}

/* Small Containers */
.innerContainer,
.fiftyContainer,
.fiftyContainerBlackFont,
.fiftyContainerBgPhoto,
.sixtyFiveContainer,
.greensquare,
.thirtyFiveContainer,
.fiftyGreenContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}

.innerContainer {
  flex: 1;
  width: 30%;
  padding: 2%;
  top: 0%;
}

.fiftyContainer,
.fiftyContainerBlackFont,
.fiftyContainerBgPhoto,
.greensquare,
.fiftyGreenContainer {
  width: 45%;
}

.fiftyContainerBgPhoto {
  background: url('/images/slider4.png') center/cover no-repeat;
  height: 90%;
  margin: 0;
}

.sixtyFiveContainer {
  width: 55%;
  padding: 2px;
}

.greensquare {
  padding: 30px 30px 0 0;
  width: 100px;
  height: 100px;
  background-color: #6d9340;
  color: #ffffff;
}

.thirtyFiveContainer {
  width: 35%;
  padding: 10px;
}

/* Buttons Round */
.round-button,
.green-button {
  appearance: none;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin: 10px;
}

.round-button:hover {
  background-color: #333;
  color: white;
}

.green-button {
  background-color: #6d9340;
  color: #fff;
}

.green-button:hover {
  background-color: #ffffff;
  color: #6d9340;
}

.greenFont {
  color: #6d9340;
}

