html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

/* styles/globals.css */
/* .content {
   margin-top: 40px;Adjust this value based on your fixed header height 
}*/
.pic{
  height: 500px;
  width: 500px;
}

main{
  display: flex;
  max-width: 100%;
  margin: 0 auto; /* Center the main container */
  flex:1;
  flex-wrap: wrap;
}
/* full width containers */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.greenContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:baseline;
  align-items:flex-start;
  background-color:#6D9340;
  color: #ffffff;
  text-align: center;
  width: 100%;
  
}

.lightGreenContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color:#EFF9E3;
  color: #000000;
  text-align: center;
  flex-wrap: wrap;
  
}
.contentContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  flex-shrink: 1;
  
}
.overlay{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex:1;
  
  padding: 5rem 0;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.4);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); /* Adjust the color and opacity as needed */
  pointer-events: none; /* Ensure the overlay doesn't interfere with interactivity */
}
.servicesContainer{
  display: flex;
  background: url('/images/AONEpc.png') center/cover no-repeat; /* Set your image path and adjust properties as needed */
  /* Adjust the alpha (transparency) value as needed */
  background-color: rgba(255, 255, 255, 0.4);
  flex-wrap: wrap;

 
}
.cardContainer{
  display: flex;
  background: url('/images/AONE-STATIONERY.png') center/cover no-repeat; /* Set your image path and adjust properties as needed */
  /* Adjust the alpha (transparency) value as needed */
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  flex-wrap: wrap;
}
.headerCardContainer{
  display: flex;
  background: url('/images/AONE-STATIONERY.png') center/cover no-repeat; /* Set your image path and adjust properties as needed */
  /* Adjust the alpha (transparency) value as needed */
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  height:40%;
  flex-wrap: wrap;
}

/* small  containers */
.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex:1;
  width:30%;
}
.fiftyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex:1;
  padding: 10px;
  width:50%;
  color: #ffffff;
  padding: 5rem 0;
}
.fiftyContainerBlackFont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex:1;
  padding: 10px;
  width:50%;
  color: #000000;
  padding: 5rem 0;
}
.fiftyContainerBgPhoto {
  display: flex;
  background: url('/images/slider4.png') center/cover no-repeat;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex:1;
  padding: 10px;
  width:50%;
  margin: 0px;
  color: #000000;
}
.sixtyFiveContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:55%;
  color: #ffffff;
  padding: 5rem 0;
  padding: 10px;
}
.greensquare{
  margin-bottom: 0px;
  margin-left : 0px;
  width: 100px;
  height: 100px;
  background-color: #6D9340;
  color: #ffffff;
}
.thirtyFiveContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width:35%;
  color: #ffffff;
  padding: 5rem 0;
}
.fiftyGreenContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:50%;
  padding: 10px;
  color: #000000;
}
.laptopImg{
  width:60%;
  height:60%;
}

/*buttons round */
.round-button {
  background-color: white;
  border-radius: 12%; /* Makes the button round */
  color: #333; /* Dark gray text color */
  padding: 20px 20px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
  cursor: pointer;
  outline: none; /* Remove default button outline */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.round-button:hover {
  background-color: #333; /* Dark gray background on hover */
  color: white; /* White text color on hover */
}

.green-button {
  background-color: #6D9340;
  border-radius: 12%; /* Makes the button round */
  color: #ffffff; /* Dark gray text color */
  padding: 20px 20px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
  cursor: pointer;
  outline: none; /* Remove default button outline */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.green-button:hover {
  background-color: #ffffff; /* Dark gray background on hover */
  color: #6D9340; /* White text color on hover */
}

.greenFont{
  color: #6D9340;
}